<!DOCTYPE html>
<html>
<head>
	<title> Friendly Bakery</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta charset="utf-8">
</head>
<body class="main-color">

<nav>
	<div class="nav-wrapper">
      <a href="/" class="brand-logo center">Friendly Bakery</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="cookies">Cookies</a></li>
        <li><a href="cakes">Cakes</a></li>
        <li><a href="muffins">Muffins</a></li>
        <li><a href="contactus">Contact Us</a></li>
      </ul>
    </div>
</nav>



  <div class="slider">
    <ul class="slides">
      <li>
        <img src="../images/cake1.jpg">
        <div class="caption center-align">
          <h3 class="pink-text text-darken-2">Cakes!</h3>
          <h5 class="pink-text text-darken-2">Check our custom designed cakes made especially for your needs. </h5>
        </div>
      </li>
      <li>
        <img src="../images/muffin5.jpg">
        <div class="caption left-align">
          <h3 class="brown darken-4">Muffins!</h3>
          <h5 class="brown darken-4">Take a muffin home to bring a smile to your loved ones.</h5>
        </div>
      </li>
      <li>
        <img src="../images/cookies.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3 class="pink-text text-darken-2">Check us out!</h3>
          <h5 class="pink-text text-darken-2">Who doesn't like cookies?</h5>
        </div>
      </li>
      <li>
        <img src="../images/cupcake4.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Cupcakes!</h3>
          <h5 class="light grey-text text-lighten-3">We have exclusive collection of cute, fluffy cupcakes, waiting for their new home.</h5>
        </div>
      </li>
    </ul>
  </div>




<div class="container">
<form action="/subscription" method="POST">
<div>

<p> Please fill out your email below to recieve exclusive emails from Friendly Bakery.</p>
<label for="email_address">Email address</label>
<input type="email" class="form-control" name="email" id="email_address" placeholder="name@example.com">
</div>
<button type="submit">Submit</button>
</form>
</div>

 <script src="https://code.jquery.com/jquery-3.3.1.min.js"> </script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
 <script type="text/javascript" src="../main.js"></script>
</body>
</html>












